registry=https://registry.npmjs.org/

; proxy=http://proxy.company.com:8080

; https-proxy=http://proxy.company.com:8080

; cache=/path/to/cache

//registry.npmjs.org/:_authToken=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
save-exact=true
tag=beta
strict-ssl=false
